---
import { Image } from 'astro:assets';
import signature from '../assets/signature.png';
import tommyPhoto from '../assets/tommy-removebg-cropped.png';
import collage1 from '../assets/collage1.png';
import collage2 from '../assets/collage2.png';
import collage3 from '../assets/collage3.png';
import collage4 from '../assets/collage4.png';
import notes1 from '../assets/notes1.png';
import notes2 from '../assets/notes2.png';

const heroTextSize = '122px';
---

<section>
  <div class='symbols-container'>
    <div class='signature' style={`-webkit-mask-image: url('${signature.src}'); mask-image: url('${signature.src}');`} />
    <a href='https://www.instagram.com/tommysaxguy' target='_blank' rel='me noopener' class='instagram-link' title='Instagram'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-instagram'>
        <rect x='2' y='2' width='20' height='20' rx='5' ry='5'></rect>
        <path d='M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z'></path>
        <line x1='17.5' y1='6.5' x2='17.51' y2='6.5'></line>
      </svg>
    </a>
  </div>
  <div class='hero-text-container'>
    <div class='hero-text fade-up'>TOMMY SAX</div>
  </div>
  <Image class='notes notes-1 fade-in' src={notes1} alt='Notes Photo 1' /> 
  <Image class='notes notes-2 fade-in' src={notes2} alt='Notes Photo 2' /> 
  <Image class='tommy-photo' src={tommyPhoto} alt='Tommy photo' />
  <div class='collage-container collage-1-container'>
    <Image class='collage collage-1' src={collage1} alt='Collage Photo 1' /> 
    <div class='collage-backdrop-line collage-1' style={`-webkit-mask-image: url(${collage1.src}); mask-image: url(${collage1.src});`} /> 
  </div>
  <div class='collage-container collage-2-container'>
    <Image class='collage collage-2' src={collage2} alt='Collage Photo 2' /> 
    <div class='collage-backdrop-fill collage-2' style={`-webkit-mask-image: url(${collage2.src}); mask-image: url(${collage2.src});`} /> 
  </div>
  <div class='collage-container collage-3-container'>
    <Image class='collage collage-3' src={collage3} alt='Collage Photo 3' /> 
    <div class='collage-backdrop-line collage-3' style={`-webkit-mask-image: url(${collage3.src}); mask-image: url(${collage3.src});`} /> 
  </div>
  <div class='collage-container collage-4-container'>
    <Image class='collage collage-4' src={collage4} alt='Collage Photo 4' /> 
    <div class='collage-backdrop-fill collage-4' style={`-webkit-mask-image: url(${collage4.src}); mask-image: url(${collage4.src});`} /> 
  </div>  
</section>

<style define:vars={{ heroTextSize }}>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid var(--color-accent-primary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e6b422' fill-opacity='0.04'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    position: relative;
    overflow: hidden;
  }

  .symbols-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  .instagram-link {
    margin-left: 22px;
    color: var(--color-accent-primary);
    transition: color 0.3s ease;
    width: 32px;
  }

  .instagram-link:hover {
    color: var(--color-accent-secondary);
  }

  .signature {
    width: 120px;
    height: 62px;
    background-color: var(--color-accent-primary);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
  }
  
  .hero-text-container {
    margin-top: 40px;
    z-index: 1;
  }

  .hero-text {
    color: var(--color-accent-primary);
    font-family: 'Averia Serif Libre', serif;
    font-size: var(--heroTextSize);
    line-height: var(--heroTextSize);
    text-align: center;
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
  }

  .tommy-photo {
    margin-top: -64px;
    z-index: 2;
    width: auto;
  }

  .notes-1 {
    position: absolute;
    height: auto;
    width: 600px;
    transform: rotate(-45deg);
    left: -256px;
    bottom: -334px;
    filter: brightness(0.6);
  }

  .notes-2 {
    position: absolute;
    height: auto;
    width: 600px;
    transform: rotate(-45deg);
    right: -388px;
    top: -464px;
    filter: brightness(0.6);
  }

  .collage-container {
    position: absolute;
  }

  .collage {
    height: auto;
    position: relative;
    z-index: 1;
  }

  .collage-backdrop-line {
    position: absolute;
    inset: 0;
    transform: scale(1.04);
    background-color: var(--color-accent-secondary);
    z-index: 0;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: cover;
    mask-size: cover;
  }

  .collage-backdrop-fill {
    position: absolute;
    inset: 0;
    transform: scale(1.04);
    background-color: var(--color-accent-primary);
    z-index: 0;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: cover;
    mask-size: cover;
  }

  .collage-1-container {
    left: 50%;
    transform: translateX(-840px);
    bottom: -10px;
    z-index: 1;
  }
  
  .collage-1 {
    width: 410px;
    min-width: 410px;
  }

  .collage-2-container {
    left: 50%;
    transform: translateX(-620px);
    bottom: 0px;
  }
  
  .collage-2 {
    width: 344px;
    min-width: 344px;
  }

  .collage-3-container {
    right: 50%;
    transform: translateX(600px);
    bottom: -40px;
  }
  
  .collage-3 {
    width: 490px;
    min-width: 490px;
  }

  .collage-4-container {
    right: 50%;
    transform: translateX(780px);
    bottom: -300px;
  }
  
  .collage-4 {
    width: 480px;
    min-width: 480px;
  }

  @media (max-width: 768px) {
    .signature {
      width: 80px;
      height: 40px;
    }

    .instagram-link {
      margin-left: 16px;
      width: 24px;
    }

    .notes,
    .collage-container {
      display: none;
    }

    .hero-text-container {
      margin-top: 32px;
    }

    .hero-text {
      font-size: 50px;
      line-height: 50px;
    }

    .tommy-photo {
      width: 260px;
      height: auto;
      margin-top: -32px;
    }
  }
</style>